<% include header %>

<h1>What's your ZIP code?</h1>
<form action="" class="pure-form">
    <fieldset>
        <input type="number" name="zip" placeholder="12345" autofocus required> 
        <input type="submit" class="pure-button pure-button-primary" value="Go">
    </fieldset>
</form>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="script.js"></script>

<% include footer %>